<html lang="en">
<head>
  <meta charset="utf-8" />
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Tailwind CSS AI Startup & Technology Saas & AI Software Landing Page Template, ai agency, ai application, ai business, ai, creative ai art, ai it solutions, modern web ai, multipurpose, saas, nft art, nft software, tailwind css." name="description" />
    <meta content="coderthemes" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="../../../assets/images/favicon.ico">
    <!-- style css -->
      
</head>
<body class="bg-slate-900 relative h-full">
  <div>
      <div class="fixed top-0 -z-10">
          <div class="blur-[200px] w-[500px] h-[500px] rounded-full bg-gradient-to-tl from-red-600/40 to-pink-600/40"></div>
      </div>
      <div class="fixed top-0 end-0 -z-10">
          <div class="blur-[200px] w-[500px] h-[500px] rounded-full bg-gradient-to-tl from-red-600/40 to-pink-600/40"></div>
      </div>
      <div class="fixed inset-0 flex items-center justify-center -z-10">
          <div class="blur-[200px] w-[500px] h-[500px] rounded-full bg-gradient-to-tl from-red-600/40 to-pink-600/40"></div>
      </div>
      <div class="fixed bottom-0 start-0 -z-10">
          <div class="blur-[200px] w-[500px] h-[500px] rounded-full bg-gradient-to-tl from-red-600/40 to-pink-600/40"></div>
      </div>
      <div class="fixed bottom-0 end-0 -z-10">
          <div class="blur-[200px] w-[500px] h-[500px] rounded-full bg-gradient-to-tl from-red-600/40 to-pink-600/40"></div>
      </div>
  </div><!-- end body bg gradient -->

  <section class="flex items-center py-6 px-0 lg:p-10 w-full lg:h-screen">
      <div class="container">
          <div class="backdrop-blur-2xl bg-default-950/40 rounded-2xl overflow-hidden max-w-5xl mx-auto">
              <div class="grid lg:grid-cols-2 gap-10">
                  <div class="hidden lg:block ps-4 py-4">
                      <div class="relative rounded-xl overflow-hidden h-full w-full">
                          <img src="https://www.discoverhongkong.com/content/dam/dhk/intl/what-s-new/events/events-festivals-720x860.jpg" alt="" class="w-full h-full transform -scale-x-100">
                          <div class="absolute inset-0 bg-default-950/40">
                              <div class="flex items-end justify-center h-full">
                                  <div class="p-6 text-start">
                                      <h5 class="text-xl font-bold text-white mb-3">Welcome to, <br> Iset Rades Events Platform!</h5>
                                      <p class="text-base font-medium text-default-500">Where you can find all what you need about clubs in one place. It simple and fast.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="flex flex-col h-full p-10 lg:ps-0">
                      <div class="pb-10">
                          <a href="index.html" class="flex">
                              <img src="assets\logoNew.png" alt="dark logo" class="h-10">
                          </a>
                      </div>
                      <div class="pb6 my-auto">
                          <h4 class="text-2xl font-bold text-white mb-4">Get Started Now</h4>
                          <p class="text-default-300 mb-8 max-w-sm ">Enter your email address and password to access account.</p>

                          <!-- form -->
                          <form [formGroup]="registerForm" (ngSubmit)=submitForm() class="text-start">
                              <div class="mb-4">
                                  <label for="input-label" class="block text-base/normal font-semibold text-default-200 mb-2">Your email</label>
                                  <input type="text"  class="block w-full rounded py-1.5 px-3 bg-transparent border-white/10 border-default-200 text-white/80 focus:border-white/25 focus:ring-transparent" placeholder="Your Email" formControlName="username">
                              </div>
                              <div class="mb-4">
                                  <label for="input-label" class="block text-base/normal font-semibold text-default-200 mb-2">Your Name</label>
                                  <input type="text"  class="block w-full rounded py-1.5 px-3 bg-transparent border-white/10 border-default-200 text-white/80 focus:border-white/25 focus:ring-transparent" placeholder="Your Last Name" formControlName="nom">
                              </div>
                              <div class="mb-4">
                                  <label for="input-label" class="block text-base/normal font-semibold text-default-200 mb-2">Your Last Name</label>
                                  <input type="text"  class="block w-full rounded py-1.5 px-3 bg-transparent border-white/10 border-default-200 text-white/80 focus:border-white/25 focus:ring-transparent" placeholder="Your Last Name" formControlName="prenom">
                              </div>
                              <div class="mb-4">
                                  <label for="input-label" class="block text-base/normal font-semibold text-default-200 mb-2">Your Phone Number</label>
                                  <input type="email"  class="block w-full rounded py-1.5 px-3 bg-transparent border-white/10 border-default-200 text-white/80 focus:border-white/25 focus:ring-transparent" placeholder="Your Last Name" formControlName="telephone">
                              </div>
                              <div class="mb-4">
                                  <label for="password" class="block text-base/normal font-semibold text-default-200 mb-2">Password</label>
                                  <input class="block w-full rounded py-1.5 px-3 bg-transparent border-white/10 border-default-200 text-white/80 focus:border-white/25 focus:ring-transparent" type="password" required=""  placeholder="Enter your password" i  formControlName="password">
                              </div>
                              <!-- end password input -->
                              <div class="mb-4">
                                  <label for="password" class="block text-base/normal font-semibold text-default-200 mb-2">Confirm Password</label>
                                  <input class="block w-full rounded py-1.5 px-3 bg-transparent border-white/10 border-default-200 text-white/80 focus:border-white/25 focus:ring-transparent" type="password" required=""  placeholder="Confirm your password" i  formControlName="confirmPassword">
                              </div>
                              <!-- end conf password input -->
                              
                              <!-- end checkbox input -->
                              <div class="mb-6 text-center">
                                  <button class="w-full inline-flex items-center justify-center px-6 py-2 backdrop-blur-2xl bg-primary-600/90 text-white rounded-lg transition-all duration-500 group hover:bg-primary-600 mt-5" type="submit" [disabled]="registerForm.invalid"><span class="fw-bold">Sing Up</span> </button>
                              </div>
                          </form><!-- end form-->
                      </div>
                      
                  </div> <!-- end col -->
              </div> <!-- end grid -->
          </div> <!-- end bg -->
          <div class="w-full text-center mt-5">
            <p class="text-default-300 leading-6 text-base font-medium">Already have an account? <a [routerLink]="['/auth/login']" class="text-primary font-semibold ms-1">Sign In</a></p>
            <br>
          </div>
      </div><!-- end container -->
  </section><!-- end section -->

</body>

</html>