<html>
<body class="inner-page">
    
    <!-- Scripts style two -->
    <!-- header area two start -->
    <div class="rts-header-area-two header--sticky">
        <div class="container-150">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-top-two">
                        <div class="left">
                            <p>Welcome To Iset Rades Events Platform</p>
                        </div>
                        <div class="right">
                            <div class="male">
                                <a href="mailto:webmaster@example.com">info@mighty-case.com</a>
                            </div>
                            <div class="number">
                                <a href="tel:+4733378901">+258-3621.23686</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-header-two">
                        <div class="header-left-area">
                            <div class="logo-area">
                                <a href="index.html" class="loog">
                                    <img src="assets/images/logo/03.svg" alt="Brand__logo">
                                </a>
                            </div>
                            <a href="portfolio-grid.html" class="rts-btn btn-radious btn-dark">View Showcase</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header area two end -->

    <!-- Scripts style two End -->

    <!-- Scripts style two -->
    <!-- rts bread crumba rea start -->
    
<div class="rts-breadcrumb-area bg_image">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="baread-crumb-main-wrapper">
                    <div class="inner">
                        <span class="works">            </span>
                        <h1 class="title rts_hero__title">Reservation Salle List</h1>
                        <span class="bg-text">Reservations salle</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- rts bread crumba rea end -->
<!-- Scripts style two End -->


<!-- rts portfolio style one area start -->
<div class="rts-section-gap rts-service-area list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="service-area-one-main-wrapper">
                    <button style="font-size: 20px;" type="button" class="btn btn-dark" [routerLink]="['/ressSalle','add']">Add new reservation</button>
                    <!-- lehna bch ta3ml ng for ala 7assb 9ada mn material -->
                <div *ngFor="let m of reservation">
                    <div class="single-item-service-one" >
                        
                            <div class="rts-img-contaciner">
                                <figure class="list-img">
                                    <img class="list-img" src="../../../assets/images/product/23.jpg" alt="Stream Shop">
                                </figure>
                            </div>
                            <div class="list-title col-md-6">
                                <h3>{{m.id}}</h3>
                                
                            </div>
                            <div class="list-info col-md-1">
                                <p class="disc" >
                                   {{m.heureDebut}}
                                </p>
                                </div>
                                <div class="list-info col-md-1">
                                <p class="disc" >
                                    {{m.heureFin}}
                                 </p>
                                 </div>
                                 <div class="list-info col-md-1">
                                 <p class="disc" >
                                    {{m.jour}}
                                 </p>
                               
                            </div>
                            <div class="button-area">
                                
                                   <button type="button" class="btn btn-light"  (click)="deleteReservation(m.id)" ><i class="fa-regular fa-trash"></i></button>
                                    <button  type="button" class="btn btn-light" [routerLink]="['/material','edit',m.id]"><i class="fa-regular fa-pen-to-square"></i></button>
                            </div>
                        <a href="portfolio-details.html">
                            
                        </a>
                    </div>
                    
                    
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="rts-footer-two-area bg-footer-2 bg_image-1">
    <div class="container-140">
        <div class="row">
            <div class="col-lg-12 pt--130 pt_sm--60 pb--100 pb_sm--60">
                <div class="footer-two-wrapper-content">
                    <!-- footer left start -->
                    <div class="footer-left-two">
                        <a href="index.html" class="logo">
                            <img src="assets/images/logo/03.svg" alt="logo">
                        </a>
                        <p class="disc">
                            Teor facilis porta maurs ligula vivamus <br> nullam laoreet pharetra posuere.
                        </p>
                        <div class="rts-social-area-one">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer left end -->

                    <!-- footer right area start -->
                    <div class="footer-right-two">
                        <!-- contact info -->
                        <div class="contact-information">
                            <h5 class="title">Contact Info</h5>
                            <a href="#" class="map">Maxuel Street, Frankfurt <br> 2589 Germany.</a>
                            <a href="#" class="mail">information.mighty.com</a>
                            <a href="tel:28586235932159" class="number">+2858 62359 32159</a>
                        </div>
                        <!-- contact info end -->
                        <!-- contact info -->
                        <div class="contact-information input">
                            <h5 class="title">Subscribe Newsletter</h5>
                            <p class="map">Subscribe our newsletter for future updates. don’t <br> worry we don’t spam your email address</p>
                            <form action="#" class="form-footer-2">
                                <label for="email-1"><i class="fa-regular fa-envelope"></i></label>
                                <input id="email-1" type="email" placeholder="Enter your email..." required>
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                        <!-- contact info end -->
                    </div>
                    <!-- footer right area end -->
                </div>
            </div>
            <div class="col-lg-12">
                <!-- copyright-area-start -->
                <div class="copy-right-area-start-two">
                    <p class="left">2023 © Mighty. All rights reserved.</p>
                </div>
                <!-- copyright-area-end -->
            </div>
        </div>
    </div>
</div>
    <script src="../../../assets/js/vendor/jquery.min.js"></script>
    <script src="../../../assets/js/plugins/bootstrap.min.js"></script>
    <script src="../../../assets/js/plugins/contact.form.js"></script>
    <script src="../../../assets/js/vendor/waypoint.js"></script>
    <script src="../../../assets/js/plugins/swiper.js"></script>


    <!-- for side bar sticky -->
    <script src="../../../assets/js/plugins/resizer-sensor.js"></script>
    <script src="../../../assets/js/plugins/sticky-sidebar.js"></script>
    <!-- for side bar sticky end-->

    <script src="../../../assets/js/plugins/isotop.js"></script>
    <script src="../../../assets/js/plugins/imagesloaded.pkgd.min.js"></script>

    <script src="../../../assets/js/plugins/smoothscroll-varticle.js"></script>
    <script src="../../../assets/js/vendor/gsap.js"></script>
    <script src="../../../assets/js/plugins/scrolltiger.js"></script>
    <script src="../../../assets/js/plugins/scrolltoplugin.js"></script>
    <script src="../../../assets/js/plugins/splittext.js"></script>
    <script src="../../../assets/js/plugins/smoothscroll.js"></script>

    <!-- title opacity scroll magix -->
    <script src="../../../assets/js/plugins/scrollmagic.js"></script>
    <script src="../../../assets/js/plugins/animate-scrollmagic.js"></script>
    <!-- title opacity scroll magic end -->



    <script src="../../../assets/js/plugins/tilt.js"></script>
    <script src="../../../assets/js/plugins/counterup.js"></script>

    <script src="../../../assets/js/vendor/waw.js"></script>
    <!-- custom javascripts -->
    <script src="../../../assets/js/main.js"></script>
</body>
</html>